
.formControll { 
    /* background-color: red; */
    /* height: 20vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.inputContainer { 
    background-color:#f9fafb;
    padding: 12px 18px;
    margin: 10px 15px;
    border-radius: 12px;
    font-weight: bold;
    color: #3735ab;
}

.input { 
    width: 250px;
    background-color: #e2e8f0;
    outline: rgb(36, 22, 1);
    border-radius: 5px;
    padding: 5px;
    margin: 3px 7px;
    border: none;
}
.input:focus{ 
    background: linear-gradient(180deg,#dbc2c278, #82b8e166);
    border: solid 2px #375cde;
}

.btn { 
    width: 100px;
    border : none; 
    padding: 8px;
    margin: 8px 0;
    background-color: #3735ab;
    color: #e1e0e9;
    border-radius: 8px;
    cursor: pointer;
}
